.orgSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #6278F7;
    font-size: 40px;
    padding-bottom: 24px;
    border-bottom: 4px solid #6278F7 ;
}

.orgSection img {
    position: absolute;
    right: 25%;
    cursor: pointer;
}

@media (max-width: 768px ){
    .orgSection {
        display: grid;
        grid-template-columns: 70% 30%;
        justify-items: center;
        gap: 15px;
    }

    .title {
        font-size: 32px;
    }

    .orgSection img {
        position: relative;
    }
}